---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import IndexSection from '../components/IndexSection.astro'
import ProfileSection from '../components/ProfileSection.astro'
import ExperienceSection from '../components/ExperienceSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro'
import Achievements from '../components/AchievementsSection.astro'
---

<Layout title="Portafolio Diego Vasquez">
	<Header />
	<main>
		<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
			<div class="snap-center">
				<IndexSection />
			</div>
			<div class="snap-center">
				<ProfileSection />
			</div>
			<div class="snap-center">
				<ExperienceSection />
			</div>
			<div class="snap-center">
				<ProjectsSection />
			</div>
			<div class="snap-center">
				<Achievements />
			</div>
	</main>
</Layout>

