<!--Iconos usando Font Awesome-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<section
  class="landing-section bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <div id="Achievements" class="z-30 relative h-full flex flex-col">
    <header>
      <h2 id="Achievements" class="text-white pt-40 text-[40px] font-medium">
        Logros
      </h2>
    </header>
    <div class="mt-8 w-full max-w-[878px] mx-auto">
      <table class="mt-8 w-full border-collapse">
        <thead>
          <tr>
            <th class="border border-white text-white">Entidad</th>
            <th class="border border-white text-white">Nombre</th>
            <th class="border border-white text-white">Fecha</th>
            <th class="border border-white text-white">Enlace</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example row, add more rows as needed -->
          <tr>
            <td class="border border-white text-white">GOOGLE</td>
            <td class="border border-white text-white"
              >Google Cloud Certified - Associate Cloud Engineer</td
            >
            <td class="border border-white text-white">2023</td>
            <td class="border border-white text-white">
              <a
                href="https://google.accredible.com/dec669a1-1487-4de2-99f8-3c93420b6802"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white">MICROSOFT</td>
            <td class="border border-white text-white"
              >DP-900: Aspectos básicos de los datos en Microsoft Azure</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://www.credly.com/badges/32d2114f-281d-44b2-ada0-3a5742af8576/public_url"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white">MICROSOFT</td>
            <td class="border border-white text-white"
              >AZ-900: Aspectos básicos de Microsoft Azure</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://www.credly.com/badges/fa516347-88cf-4d15-89e7-3e6ec3149a86/public_url"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white">CORRELATION ONE</td>
            <td class="border border-white text-white"
              >Formación en Ciencia de Datos</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://udistritaleduco-my.sharepoint.com/:b:/g/personal/dfvasquezr_udistrital_edu_co/EYDQbgx1II5Dj2rrw3NV6rkBo5WEzuI8LcjcM1qzqzw7yw?e=EByVnp"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white"
              >UNIVERSIDAD TECNOLÓGICA DE PEREIRA</td
            >
            <td class="border border-white text-white"
              >Diplomado en Fundamentos de Programación en Python</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://udistritaleduco-my.sharepoint.com/:b:/g/personal/dfvasquezr_udistrital_edu_co/Efc5upq5NuRIhvVD3JqtlPMBP-3dYHvTbmiW_qLfBkLMnA?e=0dFFEF"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white"
              >UNIVERSIDAD TECNOLÓGICA DE PEREIRA</td
            >
            <td class="border border-white text-white"
              >Diplomado en Desarrollo de software</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://udistritaleduco-my.sharepoint.com/:b:/g/personal/dfvasquezr_udistrital_edu_co/EcquVTkFSclCvZjG7s6w9WoBVi_TVbOZVjne0U-IU5kR5Q?e=AmLbBE"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white"
              >UNIVERSIDAD TECNOLÓGICA DE PEREIRA</td
            >
            <td class="border border-white text-white"
              >Diplomado en Desarrollo de aplicaciones Web</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white">
              <a
                href="https://udistritaleduco-my.sharepoint.com/:b:/g/personal/dfvasquezr_udistrital_edu_co/EZnptxxPRCZLtXkNsjLjReABjNB27grPON0NJ6BPm2dUYA?e=jI6Tik"
                target="_blank"
              >
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="border border-white text-white"
              >SERVICIO NACIONAL DE APRENDIZAJE</td
            >
            <td class="border border-white text-white"
              >Tecnólogo en Negociación Internacional</td
            >
            <td class="border border-white text-white">2022</td>
            <td class="border border-white text-white"> </td>
          </tr>
          <tr>
            <td class="border border-white text-white"
              >UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</td
            >
            <td class="border border-white text-white">Ingeniero Industrial</td>
            <td class="border border-white text-white">2020</td>
            <td class="border border-white text-white"> </td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <div id="Contact" class="flex flex-col flex-grow justify-end text-white">
      <footer>
        <div class="banner-wrapper flex flex-col">
          <div class="icon-text flex flex-grow">
            <div
              class="icon-text-icon px-10 py-3 flex flex-grow [&>li>a]:inline-block z-10 justify-center"
            >
              <ul class="footer-nav">
                <li><a href="#Index">Inicio</a></li>
                <li><a href="#Profile">Perfil</a></li>
                <li><a href="#Projects">Portafolio</a></li>
                <!-- <li><a href="#services">Servicios</a></li>-->
              </ul>
            </div>
            <div class="icon-text-text flex flex-grow">
              <ul
                class="social flex flex-grow items-center justify-center z-40 text-[60px] space-x-10 basis-0"
              >
                <li>
                  <a href="mailto:diegovasquez0197@gmail.com" target="_blank">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/DataDiegoVasquez" target="_blank">
                    <i class="fa-brands fa-square-github"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/diegofedericovasquezromero/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <footer
        class="second-footer flex flex-col justify-center font-light text-xs"
      >
        <p class="copyright">
          &copy;<a href="https://portafolio-diego-vasquez.vercel.app/" target="_blank">
            [2023] VaData.com, All rights reserved. Powered by DiegoVasquez</a
          >
        </p>
      </footer>
    </div>
  </div>
</section>

