<!--Iconos usando Font Awesome-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<section
  class="landing-section h-screen w-screen overflow-hidden relative"
  data-header-color="black"
>
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
  >
    <div
      class="z-30 relative h-full w-full flex flex-col items-center justify-center py-44"
    >
      <header class="text-center">
        <h2
          id="Profile"
          class="text-black text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
        >
          Hola, Soy Diego Vasquez
        </h2>
      </header>

      <div
        class="flex flex-row justify-center items-start gap-x-16 max-w-2xl mx-auto"
      >
        <!-- Left Container with Text and List -->
        <div
          class="text-black text-xl opacity-80 text-justify text-align-last-auto text-wrap"
        >
          <p>
            + de 3 años de Experiencia en lenguajes de programacion como <strong
              >Python</strong
            >
            y <strong>SQL</strong>, conocimiento robusto de bases de datos
            relacionales y no relacionales, familiaridad con tecnologías en la
            nube para el procesamiento de datos en tiempo real.
          </p>
          <p>
            Amplio conocimiento en manejo de herramientas ETL, modelado de datos
            y diseño de esquemas, con conocimiento de Ciencia de Datos,
            instrucciones de procesamiento, libros de códigos y datos
            procesados.
          </p>
          <ul class="list-inline social-buttons flex">
            <li class="list-inline-item mr-4">
              <a href="https://twitter.com/felimarttinez">
                <i class="fab fa-twitter bigsize" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item mr-4">
              <a href="#">
                <i class="fab fa-github bigsize" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item mr-4">
              <a href="#">
                <i class="fab fa-linkedin bigsize" aria-hidden="true"></i>
              </a>
            </li>
            <li class="icon-container">
              <a href="#">
                <i class="fas fa-chart-line bigsize" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- Right Container for Technologies -->
        <div class="flex flex-col items-center text-center">
          <h3 class="text-4xl font-semibold">Tecnologias</h3>
          <ul class="grid grid-cols-1 gap-10 sm:grid-cols-2 my-14">
            <li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
                GCP
                <img class="w-4 h-4" title="GCP" src="/public/icons/GCP.svg" alt="Logo Google Cloud Platform" />
              </p>
            </li>
            <li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
              Azure
              <img class="w-4 h-4" title="Azure" src="/public/icons/Azure.svg" alt="Logo Azure" />
              </p>
            </li>
            <li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
                Git - Github
                <img class="w-4 h-4" title="GIT" src="/public/icons/git.svg" alt="Logo GIT" />
              </p>
            </li><li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
                BD 
                <img class="w-4 h-4" title="Database" src="/public/icons/Database.svg" alt="Logo databases" />
              </p>
            </li><li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
              Python
              <img class="w-4 h-4" title="Python" src="/public/icons/Python.svg" alt="Logo Python" />
              </p>
            </li><li class="flex items-center justify-center">
              <p
                class="flex items-center gap-2 dark:text-gray-400 text-gray-800 text-xl"
              >
              Databricks
              <img class="w-4 h-4" title="Databricks" src="/public/icons/Databricks.svg" alt="Logo Databricks" />
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
