<section
  class="landing-section bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2
        id="Projects"
        class="text-black text-3xl font-semibold mb-6 pt-40 flex flex-col gap-x-3 items-center font-medium"
      >
        Portafolio de Proyectos
      </h2>
    </header>

    <div
      class="z-30 relative h-full flex flex-col max-w-screen-xl mx-auto md:w-5/6 lg:w-4/6"
    >
      <div
        class="grid place-content-center md:grid-cols-2 lg:grid-cols-3 gap-3 mb-16 md:mx-0 mx-3"
      >
        <!-- Project Cards ... -->
        <div class="bg-gris mb-3 rounded-lg">
          <a target="_blank" href="#">
            <img
              class="rounded-t-lg w-full max-h-60 object-cover"
              src="/images/Img.jpg"
              alt="imagen de proyecto1"
              loading="lazy" width="500" height="500"
              decoding="async" data-nimg="1"
            />
          </a>
          <div class="p-5">
            <h5
              class="mb-2 text-2xl text-center text-black font-bold tracking-tight"
            >
              Proyecto En Construccion
            </h5>
            <p class="mb-3 font-normal text-grisclaro2">
              Iniciativa como primer proyecto ojala un tablero de Dash en Python
            </p>
            <div class="flex gap-1 items-center justify-center">
              <a
                target="_blank"
                href="#"
                class="flex-1 flex items-center justify-center py-2.5 px-5 mr-2 mb-2 text-sm text-black font-medium bg-naranja rounded-full border transition duration-300 hover:bg-naranja700"
              >
                Sitio Web
              </a>
              <a
                target="_blank"
                href="#"
                class="flex-1 flex items-center justify-center py-2.5 px-5 mr-2 mb-2 text-sm text-black font-medium focus:outline-none bg-gris rounded-full border focus:z-10 focus:ring-4 focus:ring-gray-200 transition duration-300 hover:bg-grisclaro"
              >
                Github
              </a>
            </div>
          </div>
        </div>
        <!-- Add more project cards if needed -->
      </div>
    </div>
  </div>
</section>